@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #141625;
    min-height: 100vh;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow-x: hidden;

}

/*-------------------------------------- header--------------------------------------*/

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d2038;
    width: 100%;
    padding: 2rem;
    position: sticky;
}

.header-1-blog {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: auto;
}

.header-1-blog a {
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    color: aliceblue;
}

.header-1-blog img {
    width: 5rem;
}

.header-navigator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    /* width: 40rem;
    min-width: 40rem; */
}

.header-comp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50ffad;
    height: 4rem;
    padding: 2rem;
    border-radius: 3rem;
    gap: 1rem;
}

.header-comp a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1e213b;
    font-weight: 500;
}

.header-comp img {
    width: 1.2rem;
    margin: 0 5px 0 0;
}

.RightToLeftHamburger {
    position: absolute;
    width: 15rem;
    background: #1d2038;
    height: 80%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease;
    animation: rightToLeft .2s ease 0s 1 reverse both;
}


.HamburgerOption {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background: #19202c; */
}

.header-comp2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50ffad;
    width: 10rem;
    height: 4rem;
    padding: 2rem;
    border-radius: 3rem;
}

.header-comp2 a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1e213b;
    font-weight: 500;
}

.HamburgerOption img {
    width: 1.2rem;
    margin: 0 5px 0 0;
}

.hamburger-menu {
    display: none;
    background: #50ffad;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 1rem;

}

@keyframes rightToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.hamburger-menu img {
    width: 70%;
    height: 70%;

}

/*-------------------------------------- header--------------------------------------*/


.hidden {
    display: none;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .from-img {
    width: 10rem;
    height: 10rem;
} */

.form-img img {
    width: 10rem;
    height: 10rem;
}

/* @media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .main-section-1 {
        min-width: 95%;
    }

    .blog-box {
        min-width: 100%;
    }

    .header-comp {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

}

@media only screen and (max-width:663.95px) {
    .blog-box {
        flex-direction: column-reverse;
        min-height: 400px;
        width: 20px;
    }

    .blog-topic-box {
        gap: 1rem;
    }

    .img-box {
        margin: 0;
    }

}

@media only screen and (min-width:1000px) {
    .RightToLeftHamburger {
        display: none;
    }
} */